/* PAGE TITLE */

.title {
  color: crimson;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

/* SEARCH BAR */

.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search {
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
  background: beige;
  border-radius: 10px;
}

.search:focus {
  background-color: beige;
  outline: 2px solid darkcyan;
}

/* BOOK */

.bookContainer {
  width: 98%;
  margin: auto;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  perspective: 3000px;
  transform-style: preserve-3d;
  rotate: x 25deg;
}

/* HERO SEARCH LIST CONTAINER HIDING BEHIND COVER WHEN BOOK IS OPEN */

.heroList {
  width: 49%;
  height: 99%;
  padding: 1rem;
  margin-right: 15px;
  text-align: center;
}

.listTitle {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 1rem;
  margin-bottom: 15px;
  clip-path: polygon(1% 78%, 22% 79%, 26% 99%, 46% 78%, 64% 96%, 69% 73%, 97% 71%, 82% 55%, 99% 37%, 74% 29%, 78% 5%, 49% 17%, 29% 0%, 25% 24%, 3% 21%, 20% 43%, 0% 50%, 14% 62%);
  font-size: 1.5rem;
  color: goldenrod;
}

.resultsList {
  padding: 1.5rem;
  height: 65%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectButton {
  color: goldenrod;
  font-size: 1rem;
  padding: .25rem;
  background: linear-gradient(135deg, #111 0 48%, beige 50% 51%, #111 53% 100%);
  background-size: 225% 100%;
  background-position: left;
  transition: all 500ms;
  border-radius: 10px;
  box-shadow: 1px 1px 5px beige;
}

.selectButton:hover {
  background-position: right;
  box-shadow: -2px -2px 5px aquamarine, 2px 2px 5px aquamarine, 2px -2px 5px aquamarine, -2px 2px 5px aquamarine;
}

.noCharactersAlert {
  color: goldenrod;
  font-size: 1.25rem;
}

/* COVER */

.coverClosed,
.coverOpen,
.backCover {
  height: 100%;
  width: 50%;
  border-radius: 2px 7px 7px 2px;
  transform-origin: center left;
}

.backCover {
  position: relative;
  background-color: aquamarine;
  z-index: -2;
}

.coverOpen,
.coverClosed {
  background: radial-gradient(ellipse at center, rgb(88, 115, 124), #32405b);
  position: absolute;
  z-index: 1;
}

.coverOpen {
  rotate: y 180deg;
  transition: all 2000ms;

}

.coverClosed {
  rotate: y 360deg;
  transition: all 4000ms;
}

/* FAKE PAGES TO FLIP OPEN AND CLOSED */

.pageOpen,
.pageClosed {
  position: absolute;
  height: 97%;
  width: 48%;
  translate: -3%;
  background-color: antiquewhite;
  border-radius: 2px 7px 7px 2px;
  display: grid;
  justify-items: center;
  padding: 1rem;
  box-shadow: 1px 1px 3px #333;
  transform-origin: center left;
  z-index: -1;
}

.pageOpen:nth-child(3) {
  rotate: y -180deg;
  transition-duration: 3500ms;
}

.pageOpen:nth-child(4) {
  rotate: y -180deg;
  transition-duration: 2500ms;
}

.pageClosed:nth-child(3) {
  rotate: y 0deg;
  transition-duration: 2500ms;
}

.pageClosed:nth-child(4) {
  rotate: y 0deg;
  transition-duration: 3500ms;
}

.heroPageLeftClosed,
.heroPageLeftOpen {
  position: absolute;
  height: 97%;
  width: 48%;
  translate: -103%;
  background-color: antiquewhite;
  border-radius: 2px 7px 7px 2px;
  display: grid;
  justify-items: center;
  padding: 1rem;
  box-shadow: 1px 1px 3px #333;
  transform-origin: center right;
  z-index: 1;
}

.heroPageLeftClosed {
  rotate: y 180deg;
  transition-duration: 1600ms;
  z-index: 0;
}

.heroPageLeftOpen {
  rotate: y 0deg;
  transition-duration: 3500ms;
  z-index: 2;
}

.noImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fallbackImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FAKE CONTENT FOR FAKE PAGES */

.fauxPageHeader {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.fauxImageOutline {
  width: 100%;
  aspect-ratio: 1;
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  /* justify-self: flex-end; */
  border: 1px solid black;
}

.headerFillerLine:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
}

.headerFillerLine:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
}

.fillerLine {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid black;
}





.statsContainer {
  display: flex;
  justify-content: space-evenly;
}

.statLabel {
  text-align: center;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  width: 25px;
  border-radius: 50%;
  aspect-ratio: 1;
  color: black;
  font-size: .75rem;
}