.title {
  color: crimson;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.search {
  padding: 1rem;
  font-size: 1rem;
  background: beige;
  border-radius: 10px;
}

.search:focus {
  background-color: beige;
  outline: 2px solid darkcyan;
}

.searchButton {
  color: goldenrod;
  font-size: 1.25rem;
  padding: .5rem;
  background: linear-gradient(135deg, #111 0 48%, beige 50% 51%, #111 53% 100%);
  background-size: 225% 100%;
  background-position: left;
  transition: all 500ms;
  border-radius: 10px;
  box-shadow: 3px 3px 5px beige;
}

.searchButton:hover {
  background-position: right;
  box-shadow: -3px -3px 5px aquamarine, 3px 3px 5px aquamarine, 3px -3px 5px aquamarine, -3px 3px 5px aquamarine;
}

.book {
  translate: -25%;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 5rem;
  perspective: 10000px;
  transform: rotateX(10deg);
  transition: translate 2000ms;
}

.cover {
  position: relative;
  transform-origin: left center;
  z-index: 20;
}

.backCover {
  position: absolute;
}

.cover,
.backCover {
  width: 50%;
  height: 75%;
  background-color: cornflowerblue;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: all 3000ms;
}

.square {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.page,
.heroPage {
  position: absolute;
  translate: -3px;
  width: 48%;
  height: 70%;
  background-color: whitesmoke;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transform-origin: left center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 49%;
  height: 70%;
  background-color: whitesmoke;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 15;
  transform-origin: left center;
  box-shadow: 1px 1px 1px silver;
}

.page:nth-child(2) {
  transition: rotate 1800ms;
}
.page:nth-child(3) {
  transition: rotate 2100ms;
}
.page:nth-child(4) {
  transition: rotate 2400ms;
}
.page:nth-child(5) {
  transition: rotate 2700ms;
}
.page:nth-child(6) {
  transition: rotate 3000ms;
}


.book:hover .cover {
  rotate: y -180deg;
  z-index: 10;
  transition-duration: 1300ms;
}

.book:hover {
  translate: 0;
}

.book:hover .page:nth-child(6) {
  rotate: y -180deg;
}
.book:hover .page:nth-child(5) {
  rotate: y -180deg;
}
.book:hover .page:nth-child(4) {
  rotate: y -180deg;
}
.book:hover .page:nth-child(3) {
  rotate: y -180deg;
}
.book:hover .page:nth-child(2) {
  rotate: y -180deg;
}


.heroPage {
    border: 1px black solid;
    display: grid;
    z-index: 14;
  }

.statsContainer {
  display: flex;
  justify-content: space-evenly;
}

.statLabel {
  text-align: center;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem;
  width: 25px;
  border-radius: 50%;
  aspect-ratio: 1;
  color: black;
  font-size: .75rem;
}


  @media screen and (min-width: 750px) {
    .book {
      width: 700px;
    }
  }